apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "orgServiceURL": "https://dev.azure.com/<org_name>",
      "personalAccessToken": "t0ps3cr3t11"
    }
